<div class="contendorpadre">
  <div class="areademensajes"></div>
  <div class="controles">
    <textarea name="" id="ctrlmensaje" class="ctrlmensaje"></textarea>
    <button type="button"  class="btnmsg" name="button">Enviar</button>
  </div>
</div>
